@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

// Modules
h2 {
  text-align: center;
}
ul {
  height: 80vh;
  width: 60%;
  overflow: auto;
  border: 1px solid #4CAF50;
  margin: 0 5px;
  li {
      list-style-type: none;
  }
}
.flex {
  display: flex;
}
.list {
  display: flex;
  flex-grow: 2;
  justify-content: center;
}
.section {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  justify-content: center;
}

.sort, .createArr {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 5px 5px;
}

.sort-box {

}

.sorted {
  padding: 15px 32px;
  font-size: 16px;
}